<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sondreweb.kiosk_mode_alpha">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.sondreweb.kiosk_mode_alpha.HomeActivity"
            android:label="Simple Launcher Activity"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.sondreweb.kiosk_mode_alpha.AppListActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
    </application>
</manifest>
