<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sondreweb.kiosk_mode_alpha">

    <!--
   fil structur
     <uses-permission />
   <permission />
   <permission-tree />
   <permission-group />
   <instrumentation />
   <uses-sdk />
   <uses-configuration />
   <uses-feature />
   <supports-screens />
   <compatible-screens />
   <supports-gl-texture />

   <application>

       <activity>
           <intent-filter>
               <action />
               <category />
               <data />
           </intent-filter>
           <meta-data />
       </activity>

       <activity-alias>
           <intent-filter> . . . </intent-filter>
           <meta-data />
       </activity-alias>

       <service>
           <intent-filter> . . . </intent-filter>
           <meta-data/>
       </service>

       <receiver>
           <intent-filter> . . . </intent-filter>
           <meta-data />
       </receiver>

       <provider>
           <grant-uri-permission />
           <meta-data />
           <path-permission />
       </provider>

       <uses-library />

   </application>
    -->
    <!-- For å kunne disable Recent apps button. -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGEE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <!-- Allows using PowerManager WakeLocks to keep processor from sleeping or screen from dimming. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- For å lage et view som "spiser" alle inputene på notifikasjons baren -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />
    <!-- G -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Gir oss tillatelse til å lese av Intentene som har med når mobilen er ferdig påskrudd(boot completed) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETE" />

    <!-- Git oss tilates for å få enheten til å vibrere -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.HomeActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:label="Simple Launcher Activity"
            android:launchMode="singleInstance"
            android:screenOrientation="userLandscape"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <!-- singleInstace: slik at vi ikke kan kjøre flere instanser. -->
            <!-- TODO: Fiks orientasjon, slik at vi faktisk bare viser en orientasjon slik som resten av tangoen gjør. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!--
                Become the Car Mode activity
                <category android:name="android.intent.category.CAR_DOCK" />
                -->
            </intent-filter>
        </activity>
        <activity android:name=".activities.MapsActivity" />

        <activity
            android:name=".activities.LoginAdminActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_login_admin"
            android:noHistory="true" />

        <!--
        EXPORTED: Whether or not components of other applications can invoke the service or interact with it —
        "true" if they can, and "false" if not. When the value is "false", only components of
        the same application or applications with the same user ID can start the service or bind to it.
        -->
        <service
            android:name=".services.AccessibilityService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>


        <!-- enable: whether or not the service can be instantiatet by the system -->
        <service
            android:name=".services.GeofenceTransitionService"
            android:enabled="true" />
        <!-- exportet = false siden vi kunn tillater Denne Appen å bruke jobScheduleren. -->
        <service
            android:name=".jobscheduler.CustomJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".deviceAdministator.DeviceAdminKiosk"
            android:label="Monument Vandring Administrator"
            android:permission="android.permission.BIND_DEVICE_ADMIN">

            <!--
            is a permission that a DeviceAdminReceiver subclass must have,
            to ensure that only the system can interact with the receiver
            (no application can be granted this permission). This prevents other applications from abusing your device admin app.
            -->
            <!--
            declares the security policies used in metadata.
            The metadata provides additional information specific to the device administrator,
            as parsed by the DeviceAdminInfo class.
            -->
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>

                <!--
            is the primary action that a DeviceAdminReceiver subclass must handle to be allowed to manage a device.
            This is set to the receiver when the user enables the device admin app. Your code typically handles this in onEnabled()
                -->
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.RestartBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="com.sondreweb.GeoFencingAlpha.Activity.RestartGeofencing" />
            </intent-filter>
            <!-- Mottar startup intente sent fra systemet, når den booter opp. -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- for å mota implisit intents fra systemet -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDZOUNiu3pqdWp1R66D57CYNsX-UDe9KJE" />

        <!-- For å få lov til å sjekke hvilken Google Play Service vi faktisk trenger å bruke, og deretter spørre brukeren om å oppdatere sin til å være samme versjon via store -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
                ContentProvider som tar gjør slik at flere apper har tingang til de samme dataene.

                android:authorities : A list of one or more URI authorities that identify data offered by the content provider.
                 Multiple authorities are listed by separating their names with a semicolon. To avoid conflicts, authority names should use a Java-style naming convention.
                android:exported : Whether the content provider is available for other applications to use
        -->

        <provider
            android:name=".storage.CustomContentProvider"
            android:authorities="com.sondreweb.kiosk_mode_alpha.storage.CustomContentProvider"
            android:exported="true"
            android:enabled="true" />

    </application>

</manifest>